html,body{
	width:100%;
	height: 100%;
	background:#f7f7f7;
	overflow: hidden;
	text-align: center;
	border:0;
	margin:0;
	padding: 0;
}
.hover:hover{
	cursor: pointer;
}



section,.page{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left:0px;
	
}
.page{
	width: 3rem;
}
.page .dom{
	position: absolute;
	display: block;
}


#navRight{
	height: auto;
	width: .6rem;
	max-width: 400px;
	max-height: 500px;
	min-width: 300px;
	min-height: 400px;
	position: fixed;
	right: .05rem;
	top: .05rem;
	background:#333;
	padding:5px;
	padding-top: 7px;
	color: white;
	box-shadow: 0 0 6px black;
	z-index: 999;
	display: block;
	opacity: .9;
	font-size: .02rem;
}

#navCenter{
	width:100%;
	height: auto;
	color: white;
	text-align: left;
	padding:0 .05rem  0 .05rem;

}
#navCenter h3{
	font-size: 1em;
}
#navCenter a{
	display: block;
	padding: 2px;
	text-align: center;
}
#navCenter a:hover{
	background:#ccc;
	color:red;
}
#navCenter a div{
	width: 80%;
	
	margin:0 auto;
	font-size: .05rem;
	font-size: 1em;
	margin-top: .02rem;
}
#navCenter li{
	display: block;
	list-style: none;
	margin-top: .02rem;
}
#navCenter .insert,.switch,.back{
	float: left;
	width: 100%;
}
#navHead,#navBottom{
	width: 100%;
	height: auto;
	text-align: right;
	float: left;
	padding:0 .05rem  0 .05rem;
	margin-top:.05rem;
	
}
#navHead a:hover{
	color: white;
}
.addPage{
	color: white;
	
	float: left;
}
.bdHead,.bgHead{
	text-align: right;
	width: 100%;
}

.navTool{
	width: 20%;
	height: auto;
	line-height: .1rem;
	position: fixed;
	left: .05rem;
	top: .05rem;
	background:#333;
	color: white;
	box-shadow: 0 0 6px black;
	z-index: 999;
	display: block;
	opacity: .8;
	padding-left: .01rem;
	padding-right: .01rem;
	font-size: .01rem;
}



.navTool div{
	display: inline-block;
}
.navTool a{
	margin:0 .02rem 0 .02rem;

	display: inline-block;
}
.navTool a:hover{
	color: white;
}
.navTool .btn{
	font-size: .01rem;
	float: none;
   	margin:0 auto;
}
.navTool input{
	 display: table-cell;
    vertical-align: middle;
   	margin:0 auto;
}
.navTool label{
	width: 30%;
	text-align: right;
}
.navTool .label-r{
	width: 60%;
	text-align: center;
}
.navTool .barPro{
	width: 115px;
	background:#d9edf7;
	border-radius: 10px;
	height: 10px;
	display: inline-block;
	position: relative;
	line-height: .1rem;
	overflow: hidden;
}
.navTool .barPro .barPro_2{
	position: absolute;
	left: 0px;
	width: 0%;
	height: 100%;
	background:#618ee4;
	top:0px;
	
}
.navTool .barPro .fontCursor{
	width: 10px;
	height:10px;
	background:#f11410;
	left:0%;
	top:0%;
	position: absolute;
	border-radius: 50%;
	cursor: pointer;	
}
.navTool .fontColors,.borderColors,.whBgColors{
	width: .07rem;
	height: .05rem;
	background:black;
	display: inline;
	outline: none;
	border:1px solid white;
	top:0;
	display: table-cell;
	vertical-align: middle;
	
}
.fColorBody{
	position: relative;
	line-height: .1rem;
	display: table;
}

.colorTable,.bgColorTable{
	position: absolute;
	background-size: cover;
	z-index: 999;
	left: 0;
	top:.06rem;
}



.toolTable,.whModle{
	position: fixed;
	width: 20%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
	min-width: 300px;
	min-height: 300px;
	left: .05rem;
	top:.05rem;
	background:#333;
	color: white;
	box-shadow: 0 0 6px black;
	z-index: 999;
	display: block;
	opacity: .8;
	text-align: center;
	overflow: auto;
}

.toolTable .borderSit{
	width: 100%;

	text-align: left;
}
.toolTable .borderSit li{
	list-style: none;
	display:block;
	text-align: left;
	padding:.02rem;
}
.toolTable .borderSit li .span-r{
	width: 100%;
	text-align: center;
	position: relative;
}
.toolTable .borderSit li .span-r ul{
	margin: 0 auto;
}
.toolTable .borderSit li input{
	width: 40px;
	color: black;
	margin:.02rem;

}
.toolTable .borderSit li button{
	float: none;
	margin:0 auto;
}
.toolTable .borderSit .radius_li{
	
}
			.borderSit .radius_li .touchRadius{
				color: #7b7b7b;
				text-decoration:line-through;
			}
			#radius:checked + .touchRadius{
			color: white;

			}
			.borderSit .radius_li .touchbdSize{
				color: #7b7b7b;
				text-decoration:line-through;
			}
			#bdSize:checked + .touchbdSize{
			color: white;
			
			}
.borderSit #borderCanvas{
	left: 40%;
	top:.07rem;
}
.borderFamily{
	max-height: 200px;
	overflow: auto;
	margin:0 auto;
	left:25%;
	top:0.1rem;
}
		.bstyle{
			display: block;
			width: 100%;
			height: 4px;

		}
		span.none {border-style:none;}
		span.dotted {border-style:dotted;}
		span.dashed {border-style:dashed;}
		span.solid {border-style:solid;}
		span.double {border-style:double;}
		span.groove {border-style:groove;}
		span.ridge {border-style:ridge;}
		span.inset {border-style:inset;}
		span.outset {border-style:outset;}
		span.hidden {border-style:hidden;}

.whModle{
	
}
.whModle .bgBody{
	width: 100%;
	text-align: left;
}
		.bgBody li{
			list-style: none;
			display:block;
			text-align: left;
			padding:.02rem;
		}
		.bgBody li input{
			width: 40px;
			color: white;
			margin:.02rem;
			margin:0 auto;
			background: transparent;
			border:none;
			outline: none;

		}
		.bgBody li .span-r{
			width: 100%;
			text-align: center;
			position: relative;
			margin-top: .01rem;
			
		}
		.BoxBgFileT{
			padding: 0px 10px;
		    height: 30px;
		    line-height: 30px;
		    position: relative;
		    cursor: pointer;
		    color: #888;
		    background: #fafafa;
		    border: 1px solid #ddd;
		    border-radius: 4px;
		    display: inline-block;
		    font-size: .01rem;
		}
		.BoxBgFileT:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
/*******loginbody*******/
.loginBody{
	
	width: .8rem;
	height: .6rem;
	position: fixed;
	left: 40%;
	top: .05rem;
	background:#fff;
	text-align: center;

	box-shadow: 0 0 6px black;
	z-index: 999;
	display: block;
	
	font-size: .02rem;
}
footer{
	width: 100%;
	height: .15rem;
	bottom: 0px;
	position: fixed;
	z-index: 99;
	left:0;
	line-height: .15rem;
	font-size: .04rem;
	display: none;
}

